{{- define "main" -}}

<div class="pub">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    {{ if .Params.abstract }}
    <h3>{{ i18n "abstract" }}</h3>
    <p class="pub-abstract">{{ .Params.abstract | markdownify }}</p>
    {{ end }}

    {{ if and (.Params.publication_types) (ne (index .Params.publication_types 0) "0") }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "publication_type" }}</div>
          <div class="col-12 col-md-9">
            {{ $pub_types := partial "functions/get_pub_types" $ }}
            {{ range $index, $pubtype := .Params.publication_types }}
            <a href="{{ (site.GetPage "section" "publication").RelPermalink }}#{{ . | urlize }}">
              {{ index $pub_types (int .) }}
            </a>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    {{ if .Params.publication }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "publication" }}</div>
          <div class="col-12 col-md-9">{{ .Params.publication | markdownify }}</div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    <div class="space-below"></div>

    <!-- Show pulicaiton metrics -->
    <h3>Publication metrics</h3>
    {{ with .Params.doi }}
    <div class="row">
      <div class="col-md-1">
        <span class="altmetric-embed" data-badge-type="donut" data-badge-popover="right" data-doi="{{ . }}"></span>
      </div>
      <div class="col-md-1 px-md-5">
        <span class="__dimensions_badge_embed__" data-style="small_circle" data-legend="hover-right" data-doi="{{ . }}"></span>
      </div>
      <div class="col-md-1 px-md-5">
        <span href="https://plu.mx/plum/a/?doi={{ . }}" class="plumx-plum-print-popup" data-popup="right" data-size="medium"></span>
      </div>
    </div>
    {{ end }}

    <div class="article-style">{{ .Content }}</div>

    {{ partial "page_footer" . }}

  </div>
</div>
{{- end -}}
